<div id="business-services-content">
  <p class="description heading">
    Building great software is our business<br>so you can get the most out of yours.
  </p>
  <p class="description">
    We build tools and products. Tools free your employees from having to do anything a computer can do, allowing them to work on more important things in your business. Products allow you to provide value to your customers, engaging them on multiple levels and allowing you to learn your markets. Both kinds of projects are very valuable to a heathly business.
  </p>
  <p class="description processes">
    Our processes is designed to produce the highest value features first. This allows us to validate our designs, plans and assumptions before finishing the entire project instead of after. This saves time and money and  results in software that provides more of what need rather then what you thought you needed.
  </p>
  <h2>Sevices we provide</h2>
  <ul class="services">
    <li>Product Mangement - Someone to guide your project from inception into maturity.</li>
    <li>Design and User Experiance (UX) - Someone to help set the tone, functionality, and experiace of your project.</li>
    <li>Development - People to build your product, from a single developer to a full development team.</li>
  </ul>
  <h2>What you get</h2>
  <ul class="services value">
    <li>An understanding of how software is made.</li>
    <li>An understanding of how people use your software.</li>
    <li>An understanding of how it provides value to your business.</li>
    <li>New Features or improvements to existing features.</li>
    <li>New tool or product. (eg. E-Commerce, CMS, integration of existing tools, etc.)</li>
  </ul>
  <%= form_for ContactRequest.new, html: {class: 'contact-form business-contact'} do |f|%>
    <p>Interested? – Let us know how we can work with you!</p>
    <%= f.text_field :name, placeholder: "your name", class: 'text' %><div class="required"></div>
    <%= f.email_field :email, placeholder: "your email", class: 'text' %><div class="required"></div>
    <%= f.telephone_field :phone, placeholder: "your phone number", class: 'text' %>
    <%= f.text_field :business_name, placeholder: "your business name", class: 'text' %><div class="required"></div>
    <div style="margin: 0px 0px 20px 0px; line-height: 0px;">&nbsp;</div>
    <%= f.select(:dev_team, options_for_select([
        'Not right now, I need some help.',
        'Yes I have my own team.',
        "I've hired teams or contractors in the past."
      ]), prompt: "Do you have a development team?" ) %>

    <%= f.select(:product_status, options_for_select([
        'Inception (We have an idea, but we need to figure out how to make it a product.)',
        "MVP (We've started making our product, and have the begining launched.)",
        "Mid Stage (We've launched our proudct, and need help making sense of our data for new features.)",
        "Mature (We need help growing our product, every % performance increase is money in the bank.)",
        "Stalled (We've been developing for months and I worry we'll never launch!)"
      ]), prompt: "What stage is your product in?" ) %>

    <%= f.label :message, "Tell us about your product:", class: "small" %>
    <%= f.text_area :message, class: "textarea", rows: 8, cols: 40 %>
    <%= f.submit "send your message", class:"submit" %>
  <% end %>
</div>