<div class="contact-footer">
  <div class="contact-container">
    <div class="two-col">
      <div class="coffee">
        <h2>Let's Get Coffee</h2>
        <i class="fa fa-3x fa-coffee"></i>
      </div>
    </div>
    <div class="two-col contact-request">
      <%= form_for ContactRequest.new, remote: true do |f|  %>
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>

        <%= f.label :email, "Email" %>
        <%= f.text_field :email %>

        <%= f.label :phone, "Phone Number" %>
        <%= f.text_field :phone %>

        <%= f.label :message, "What can we help you with?" %>
        <%= f.text_area :message, rows: 8, cols: 40 %>

        <div class="contact-button">
          <%= f.submit class: "contact-button", value: "Send Request!" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
