<div id="dev-teams-content">
  <p class="description heading">
    You know how to build your product<br>We know how to improve your flow
  </p>
  <p class="description processes">
    However you work, there's always room for improvement. We've worked with teams large and small in startups and big enterprises. Our goal is to improve your proccesses by putting pressure on it. We have an agile philosophy but recognize that what works best for the team works best for the product. We'll work with your team to obtain a fast and reliable processes.
  </p>
  <h2>What we like to see</h2>
  <ul class="services">
    <li>A speedy reliable test suite.</li>
    <li>continuous integration and deployment</li>
    <li>Short lived feature branches</li>
    <li>A deployable `master`</li>
    <li>No fear of refactoring</li>
  </ul>
  <%= form_for ContactRequest.new, html: {class: 'contact-form devteam-contact'} do |f| %>
    <p>Interested? – Let us know how we can work with you!</p>

    <%= f.text_field :name, placeholder: "your name", class: 'text' %><div class="required"></div>
    <%= f.email_field :email, placeholder: "your email", class: 'text' %><div class="required"></div>
    <%= f.telephone_field :phone, placeholder: "your phone number", class: 'text' %>
    <%= f.text_field :business_name, placeholder: "your business name", class: 'text' %><div class="required"></div>

    <p class="small">Please check all that apply:</p>

    <%
    # should not be in view
    check_list = [
      [:test_suite, "We have a reliable test suite with good coverage"],
      [:ci_server, "We have a continues integration server."],
      [:deploy_master, "We keep master deployable."],
      [:onestep_deploy, "We have a one step deploy."],
      [:bugs_not_issue, "Bugs are not a problem."],
      [:releases_not_issue, "Releases are not a problem."],
      [:infrastructure_not_issue, "Infrastructure is not a problem."],
      [:agile_product, "We break down features into deployable testable units of work."],
      [:week_sprints, "We have one week sprints."],
      [:weekly_retros, "We have weekly retrospectives."],
      [:analytics, "We use analytics when planning new features."],
    ]
    %>

    <% check_list.each do |item| %>
      <%= f.check_box item[0] %>
      <%= f.label item[0] do %>
        <span></span><%= item[1] %>
      <% end %>
    <% end %>


    <%= f.label :message, "What can we help you with?", class: "small" %>
    <%= f.text_area :message, class: "textarea", rows: 8, cols: 40 %>
    <%= f.submit "send your message", class:"submit" %>
  <% end %>
</div>