<div class="bio-box">
  <%= image_tag employee.photo, alt: "employee.name", class: 'bio-image' %>
  <h3 class="bio-name"><%= employee.name %></h3>
  <div class="bio-paragraph">
    <p><%= employee.bio.html_safe if employee.bio %></p>
  </div>
  <div class="bio-button-bar">
    <ul>
      <% if employee.email %>
        <li class="bio-button">
        <%= mail_to employee.email, class: "bio-link", subject: "hello!", title: "Email #{employee.name}" do %>
          <i class="fa fa-envelope-o fa-2x"></i>
        <% end %>
        </li>
      <% end %>

      <% if employee.twitter %>
      <li class="bio-button">
        <%= link_to 'https://twitter.com/' + employee.twitter, class: "bio-link", target: "_blank", title: "twitter" do %>
          <i class="fa fa-twitter fa-2x"></i>
        <% end %>
      </li>
      <% end %>

      <% if employee.github %>
      <li class="bio-button">
        <%= link_to 'https://github.com/' + employee.github, class: "bio-link", target: "_blank", title: 'github' do %>
          <i class="fa fa-github fa-2x"></i>
        <% end %>
      </li>
      <% end %>

      <% if employee.blog %>
      <li class="bio-button">
        <%= link_to employee.blog, class: "bio-link", target: "_blank", title: "blog" do %>
          <i class="fa fa-desktop fa-2x"></i>
        <% end %>
      </li>
      <% end %>

    </ul>
  </div>
</div>
