<section class="tools dark">
  <div class="tools-container">
    <div class="tools-header">
      <h2>Our Tools</h2>
      <p class="center">We choose the right tool for the right job.</p>
    </div>
    <div class="tool-content">
      <%= link_to "http://rubyonrails.org/", target: "_blank" do %>
        <h4>Ruby on Rails</h4>
        <%= image_tag("rails-logo.png") %>
        <p>Gives us the power to build features that are reliable, testable, and able to grow.</p>
      <% end %>
    </div>
    <div class="tool-content">
      <%= link_to "http://facebook.github.io/react/", target: "_blank" do %>
        <h4>React</h4>
        <%= image_tag("reactjs-logo.png") %>
        <p>Allows to build performant interactive client side interfaces that engage users.</p>
      <% end %>
    </div>
    <div class="tool-content">
      <%= link_to "https://www.heroku.com/", target: "_blank" do %>
        <h4>Heroku</h4>
        <%= image_tag("heroku-logo.png") %>
        <p>A powerful platform for keeping our apps online, fast, and scalable with mimumum invetment. Wizard's open source heroku tools allow us to keep complex operations simple.</p>
      <% end %>
    </div>
  </div>
</section>
