<section class="tools dark">
  <div class="tools-container">
    <div class="tools-header">
      <h2>Our Tools</h2>
      <p class="center">The right selection of tools and services allow us to build you engaging sites quickly and reliably.</p>
    </div>
    <div class="tool-content">
      <%= link_to "http://rubyonrails.org/", target: "_blank" do %>
        <h4>Ruby on Rails</h4>
        <%= image_tag("rails-logo.png") %>
        <p>Gives us the power to build features that are reliable, testable, and able to grow.</p>
      <% end %>
    </div>
    <div class="tool-content">
      <%= link_to "http://facebook.github.io/react/", target: "_blank" do %>
        <h4>React</h4>
        <%= image_tag("reactjs-logo.png") %>
        <p>Allows to build high performing interactive interfaces that engage users.</p>
      <% end %>
    </div>
    <div class="tool-content">
      <%= link_to "https://www.heroku.com/", target: "_blank" do %>
        <h4>Heroku</h4>
        <%= image_tag("heroku-logo.png") %>
        <p>A powerful platform for keeping our apps online, fast, and scalable with minimum investment. Wizard's <a href="https://github.com/wizarddevelopment/wizarddev-heroku">open source Heroku tools</a> allow us to keep complex operations simple.</p>
      <% end %>
    </div>
  </div>
</section>
