<section class="homepage-hero">
  <div class="homepage-hero-copy">
    <h1>Wizard Development</h1>
    <p>Wizard Development brings your prototypes and early stage products to market.</p>
  </div>
</section>
<section class="homepage-thesis">
  <div class="homepage-thesis-inner">
    <div class="homepage-thesis-copy">
      <h2>Prototypes to Production.</h2>
      <p>You've proven your site is a good idea, your entire business operates around it. You built it from scratch and changed it, and changed it and got it working the best it can. Now it's time for a change. Your business is growing and it's staying behind. What you needed when you built your site is only a small piece of the picture. The old site isn't keeping up. You know it can do more, but it's become difficult to change. Progress has slowed down and it's getting in the way. What do you do from here?</p>
    </div>
  </div>
</section>

<%= render 'case_study' %>
<%= render 'articles'%>
<%= render 'team' %>
<%= render 'contact_form' %>
<%= render 'products' %>
<%= render 'footer' %>
