<%= render 'hero' %>
<div class="jumptarget" id="services"></div>
<%= render 'thesis' %>
<%= render 'products' %>
<%= render 'tools' %>
<div class="jumptarget" id="clients"></div>
<%= render 'clients' %>
<div class="jumptarget" id="team"></div>
<%= render 'team' %>
<div class="jumptarget" id="recent-articles"></div>
<%= render 'articles'%>
<div class="jumptarget" id="contact"></div>
<%= render 'contact_form' %>
<%= render 'footer' %>
