<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button js-mobile-menu"><i class="fa fa-2x fa-bars"></i></p>
    <div class="nav">
      <ul class="js-nav-menu navigation-menu">
        <li class="nav-link"><%= link_to "Services", root_path(anchor: "services") %></li>
        <li class="nav-link"><%= link_to "Team", root_path(anchor: "team") %></li>
        <li class="nav-link"><%= link_to "Clients", root_path(anchor: "clients") %></li>
        <li class="nav-link"><%= link_to "Blog", root_path(anchor: "recent-articles") %></li>
        <li class="nav-link"><%= link_to "Contact", root_path(anchor: "contact") %></li>
      </ul>
    </div>
</header>
