<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Wizard Development</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "shims/modernizr.custom" %>

    <meta name="viewport" content="width=user-scalable=no, device-width, initial-scale=1, maximum-scale=1.0" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="ROBOTS" content="NOODP" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "navbar" unless @_hide_nav%>
    <%= render 'flashes' %>
    <div class='main-content'>
        <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :js %>
    <%= render partial: 'ga' %>
    <%= render partial: 'mixpanel' %>
  </body>
</html>
