<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Wizard Computing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "shims/modernizr.custom" %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= render 'shared/ga' %>
</body>
</html>
